@model iManage360.Models.DbModels.Ferie

@{
    ViewBag.Title = "DettaglioFerie";
}

<h2 class="text-center">Dettaglio Ferie</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Utente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInizio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInizio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approvate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approvate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "ModificaFerie", new { id = Model.ID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Elimina", "EliminaFerie", new { id = Model.ID }, new { @class = "btn btn-danger" })
</p>
    @Html.ActionLink("Ritorna alla lista", "ListaFerie")